/* .contain-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
} */

.text-head,
.text-body {
  display: flex;
  width: 70%;
  justify-content: left;
}

.text-head p {
  color: #fff;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.text-body p,
li {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
}

button,
input {
  border: 1px solid black;
}
